@font-face {
  font-family: "iransans";
  src: url("fonts/iransans.woff") format("woff"),
    url("./fonts/sanse.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
body,
html {
  font-family: iransans;

  margin: 0px !important;
  padding: 0px;
  background: #f4fff6;
  direction: rtl;
  overflow-x: hidden;
}
.navigation-top {
  z-index: 1;
  width: 100% ;
  border-radius: 0px 0px 8px 8px;
  background: rgba(71, 160, 216, 0.4);
  backdrop-filter: blur(15px) contrast(60%);
  -webkit-backdrop-filter: blur(15px) contrast(60%);

  position: fixed;
}
.poster {
  max-width: 100%;
  max-height: 100%;
}

.firsrPage-img {
  background-size: cover ;
  width: 100% !important;
}
.see-more {
  margin-top: -6.5rem;
  font-size: 3rem;
  color: #f4fff6;
  text-align: center;
}
.import-box {
  width: 100%;
  padding: 2rem;
  margin-top: 1.5rem;
  direction: rtl;
}
.import-title {
  text-align: right;
}
.import-items {
  display: grid;
  gap: 1rem;
}
.import-item {
  background-image: url("./images/importPic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.5));
}
.on-img-items {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
.right-item {
  float: right;
  text-align: right;
}
.import-product-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.left-item {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.import-countru-name {
  font-size: 0.6 rem;
  font-weight: bold;
}

.import-icone {
  font-size: 1.6rem;
}

/* export */
.export-box{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
}
.export-item {
  margin: 1rem;
  background-image: url("./images/exportPic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  width: 256px !important;
  padding: 2rem;
  height: 363px;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 4rem;
}
.producte-name {
  font-size: 16px;
  margin-bottom: 1.5rem;
  margin-right: .5rem;
}
.import-countru-name{
  font-size: 16px;
}
.export-txt {
  color: white;
}

/* custom */
.custom-box{
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.custom-item{
  border-radius: 16px;
  padding: 1rem;
  background-image: url("./images/custom.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
}
.custom-icone{
  color: black;
  border: 4px solid black;
  border-radius: 12px;
  font-size: 2rem;
  padding: 6px;
}
.custom-txt{
  font-weight: 400;
  color: black;
 
}

/* educate */
.educate-box{
  margin: 2.5rem  0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
}
.educate-item{
  margin: .5rem;
  background-image: url("./images/educating.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  width: 340px !important;
  padding: 2rem;
  height: 210px;
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 2rem;

  }
.educate-txt{
  color: #fff;
  text-align: center;
  font-size: 1rem;
}

/* footer */
.footer-box{
  background: #185F95;
  width: 100%;  
  bottom: 0%;
  margin-bottom: 0%;  
}
.footerIcones{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  font-size: 2rem;
}
.footer-adress{
  margin: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.adress{
  margin-right: 8px;
}
.footer-programer{
  text-align: center;
  color: #1a1a1a;
}
.programer{
  font-size: 16px;
}
.programer-number{
  font-size: 12px;

}
